{{!-- Standard HTML5 Boiler Plate --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/assets/css/burger_style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MVC Burger App</title>
    <script src = "https://code.jquery.com/jquery.js"></script>

</head>
<body>
    {{!-- Triple-stash is used here because body is where all .handlebar files will be rendered here --}}
    {{{body}}}
    <script src = "/models/burger.js"></script>
</body>
</html>